.grid-debug {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1600px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  z-index: 50;
  pointer-events: none;
}

.grid-column {
  border-right: 1px solid rgba(255, 0, 0, 0.05);
  border-left: 1px solid rgba(255, 0, 0, 0.05);
  background: rgba(255, 0, 0, 0.05);
}

.grid-debug {
  height: 100vh;
}
