/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blog-gray-primary: #e5e7eb;
  --blog-gray-dark: #d1d5db;

  --blog-turquoise-primary: #ebfaff;
  --blog-turquoise-dark: #61dafb;

  --blog-orange-primary: #f3cab9;
  --blog-orange-dark: #e34f26;

  --blog-blue-primary: #e5eefa;
  --blog-blue-dark: #2f73bf;

  --blog-yellow-primary: #fffad7;
  --blog-yellow-dark: #ffcc18;

  --blog-purple-primary: #ebe2fb;
  --blog-purple-dark: #ac7ef4;
}

.btn {
  @apply inline-flex gap-2 px-2 py-2 bg-blogGrayPrimary border-2 text-black border-black rounded-xl text-xs font-semibold hover:-translate-y-1 focus:-translate-y-1 transition-transform;

  box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

.btn--turquoise {
  @apply !text-blogTurquoiseDark !bg-blogTurquoisePrimary border-turquoise-dark shadow-turquoise-dark;
}

.btn--blue {
  @apply !text-blogBlueDark !bg-blogBluePrimary border-blue-dark shadow-blue-dark;
}

.btn--orange {
  @apply !text-blogOrangeDark !bg-blogOrangePrimary border-orange-dark shadow-orange-dark;
}

.btn--yellow {
  @apply !text-blogYellowDark !bg-blogYellowPrimary border-yellow-dark shadow-yellow-dark;
}

.btn--purple {
  @apply !text-blogPurpleDark !bg-blogPurplePrimary border-purple-dark shadow-purple-dark;
}

.shadow-dark {
  box-shadow: 3px 3px 0px black;
}

.shadow-turquoise-dark {
  box-shadow: 3px 3px 0px var(--blog-turquoise-dark);
}

.shadow-orange-dark {
  box-shadow: 3px 3px 0px var(--blog-orange-dark);
}

.shadow-blue-dark {
  box-shadow: 3px 3px 0px var(--blog-blue-dark);
}

.shadow-yellow-dark {
  box-shadow: 3px 3px 0px var(--blog-yellow-dark);
}

.shadow-purple-dark {
  box-shadow: 3px 3px 0px var(--blog-purple-dark);
}


.border-turquoise-primary {
  border-color: var(--blog-turquoise-primary);
}

.border-orange-primary {
  border-color: var(--blog-orange-primary);
}

.border-blue-primary {
  border-color: var(--blog-blue-primary);
}

.border-yellow-primary {
  border-color: var(--blog-yellow-primary);
}

.border-purple-primary {
  border-color: var(--blog-purple-primary);
}

.border-turquoise-dark {
  border-color: var(--blog-turquoise-dark);
}

.border-orange-dark {
  border-color: var(--blog-orange-dark);
}

.border-blue-dark {
  border-color: var(--blog-blue-dark);
}

.border-yellow-dark {
  border-color: var(--blog-yellow-dark);
}

.border-purple-dark {
  border-color: var(--blog-purple-dark);
}
